@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Liter&family=Merienda&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Oswald:wght@200..700&family=Pacifico&family=Passion+One:wght@400;700;900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Sriracha&family=Tektur:wght@400..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Pacifico';
}

html,body{
    height: 100vh; /* Altura total do navegador*/
    width: 100vw; /* Largura total*/
    background-color: black;
}
body{
    background:url(/pacote-d013/imagens/fundo-madeira.jpg)
    no-repeat top center;
    background-size: cover;
    background-attachment: fixed; /*Para a imagem nao rolar na tela*/
}

main{
    height: 100vh;
    position: relative;
    
}
section#telefone{
    position: absolute;  /*para centralizar na tela */
    top: 50%; /* top e left vao colocar a ponta de cima e da esquerda na posiçao indicada */
    left: 50%;
    transform: translate(-50%,-50%);
    height: 627px;
    width: 311px;
    
    background:url(/pacote-d013/imagens/frame-iphone.png)no-repeat;
}